<header>
  <div class="collapse bg-mobile-azul" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Sobre</h4>
          <p class="text-white">Este projeto tem como objetivo ser um local de fácil acesso para compartilhamento de ferramentas educacionais entre educadores que buscam inovar em sala de aula.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Links</h4>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCCKZ_6pC-Vgp4lF5-SuaCWQ" class="text-white">Canal no Youtube</a></li>
            <li><a href="/dashboard" class="text-white">Minha área</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-mobile-azul box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>EducaTools</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>