<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sorteio</title>
  <link rel="stylesheet" href="/tools/sorteio/sorteio.min.css" />
</head>
<body>
  <h1>Sorteio</h1>
  <p id="instrucoes"><b>Instruções:</b> Clique no botão GIRAR e faça o sorteio!</p>
  <br />
  <div class="divider"></div>

  <!-- Conteúdo do jogo -->
  <div id="data">
    <div id="wheelOfFortune">
      <canvas id="wheel" width="600" height="600"></canvas>
      <div id="spin">GIRAR</div>
    </div>
  </div>

  <!-- scripts -->
  <script>window.educatools = {}</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/educaToolsUtils-min.js"></script>
  <script src="/js/googleSpreadsheetsUtils-min.js"></script>
  <script src="/tools/sorteio/sorteio-min.js"></script>

</body>
</html>