<main role="main">
  
  <!-- Modal da ferramenta -->
  <div id="modalFerramenta" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="modalFerramenta" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nome da Ferramenta</h5>
          <button id="btn-fecharvideo" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <iframe id="modal-ferramenta-iframe-youtube" width="560" height="315" src="https://www.youtube.com/embed/jkp67--qH94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="mb-3" id="modal-ferramenta-descricao">
            <h5>Descrição</h5><p>Descrição da ferramenta</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <a id="modal-ferramenta-url" class="btn btn-primary" href="#" target="_blank" role="button">Acessar</a>
        </div>
      </div>
    </div>
  </div>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Ferramentas Educacionais</h1>
      <p class="lead text-muted">Abaixo você encontrará uma série de ferramentas digitais utilizadas e sugeridas por professores, professoras e demais profissionais da educação das mais diversas disciplinas e ciclos de ensino de todo o país.</p>
      <!-- Search box -->
      <div class="searchbox">
        <input id="searchbox" class="form-control" type="text" placeholder="Eu procuro por..."
          aria-label="Eu procuro por...">
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-light btn-sm my-2 filter-button" data-filter="all">Todos</button>
      <button type="button" class="btn btn-success btn-sm my-2 filter-button" data-filter="infantil">Infantil</button>
      <button type="button" class="btn btn-primary btn-sm my-2 filter-button" data-filter="fundamental-1">Ensino Fundamental
        1</button>
      <button type="button" class="btn btn-danger btn-sm my-2 filter-button" data-filter="fundamental-2">Ensino Fundamental
        2</button>
      <button type="button" class="btn btn-warning btn-sm my-2 filter-button" data-filter="médio">Ensino
        Médio</button>
      <button type="button" class="btn btn-info btn-sm my-2 filter-button" data-filter="superior">Superior</button>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div id="ferramentas" class="row">
        <!-- preenchido via ajax -->
        <div class="col-md-12 text-center">
          <img src="assets/pacman.svg" alt="Loading...">
          <p>Carregando...</p>
        </div>
      </div>
      <h2 id="warning" align="center">Não há resultados disponíveis</h2>
    </div>
  </div>

</main>