<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>
  <link rel="stylesheet" href="/tools/quiz/quiz.min.css" />
</head>

<body>
  <h1>Quiz</h1>
  <p id="instrucoes"><b>Instruções:</b> Esse é um jogo no qual os jogadores tentam responder corretamente as questões que lhes são colocadas. Em alguns contextos, a palavra também é utilizada como sinónimo de teste informal para a avaliação de aquisição de conhecimentos ou capacidades em ambientes de aprendizagem.</p>
  <br />

  <div class="divider" style="margin-bottom:40px;"></div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#dados">Configuração</a></li>
        <li id="tab_jogar" class="tab col s6"><a href="#jogar">Jogo</a></li>
      </ul>
    </div>
    <div id="dados" class="col s12">
      <!-- configuração do jogo -->
      <h3>Configurações do jogo</h3>
      <p>Use os campos abaixo para configurar o seu jogo.</p>
      <div class="row">
        <div class="col s12">
          <div class="row containerQuiz">
            <div class="input-field col s12">
              <label for="config_enunciado">Enunciado</label>
              <input id="config_enunciado" type="text" class="validate">
            </div>
            <div class="input-field col s12 resposta-correta alternativa">
              <label for="config_alternativa1">Alternativa Correta</label>
              <textarea id="config_alternativa1" class="materialize-textarea"></textarea>
            </div>
             <div class="input-field col s12 resposta-errada alternativa">
              <label for="config_alternativa2">Alternativa Errada</label>
              <textarea id="config_alternativa2" class="materialize-textarea"></textarea>
            </div>
          </div>
            <button id="moreAlternatives">+ alternativas</button>
        </div>
      </div>

      <a id="btn_jogar_quiz" class="waves-effect waves-light btn-large">Jogar!</a>

    </div>
    <div id="jogar" class="col s12">

      <!-- conteúdo do jogo -->
       <div id="exercicio1" class="quiz">
          <div class="alternativas">
            <div class="alternativa resposta-correta">1</div>
            <div class="alternativa resposta-errada">2</div>
            <div class="alternativa resposta-errada">3</div>
            <div class="alternativa resposta-errada">4</div>
          </div>
          <button class="confirmar">Confirmar</button>
          <div class="hide feedback feedback-positivo">
            <h1>Correto</h1>
          </div>
          <div class="hide feedback feedback-negativo">
            <h1>Errado</h1>
          </div>
        </div>

    </div>
  </div>

  <!-- botão para salvar -->
  <div class="fixed-action-btn tooltipped" data-position="left" data-tooltip="Salvar jogo">
    <a href="quiz/instrucoes" target="_blank" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-save"></i></a>
  </div>

  <!-- scripts -->
  <script>window.educatools = {}</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/educaToolsUtils-min.js"></script>
  <script src="/js/googleSpreadsheetsUtils-min.js"></script>
  <script src="/tools/quiz/quiz-min.js"></script>
  <script src="/components/exercise.pick-one.js"></script>

</body>

</html>