<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mad Libs</title>
  <link rel="stylesheet" href="/tools/madlibs/madlibs.min.css" />
</head>

<body class="intro">
  <div class="paper foldedEdge">
    <h1>Mad Libs</h1>
    <p><b>Instruções:</b> Este é um jogo de substituição de palavras inventado nos anos 50. Após a criação de uma lista
      de palavras, ela é inserida em uma história já escrita. Como não se sabe de antemão como a história é, o resultado
      é uma história maluca e hilariante, que diverte e rende ótimas risadas!</p>
    <br />
    <div class="divider"></div>

    <h3>Como salvar o seu jogo de Mad Libs?</h3>
    <p>Na versão gratuita do Educatools, seus jogos podem ser salvos usando as planilhas do Google.</p>
    <br />
    <p><b>Instruções:</b> Basta seguir os passos abaixo.</p>

    <h4>Passo 1 - Crie e modifique o arquivo no Google Planilhas</h4>
    <ul>
      <li>&#8226; Faça uma cópia desta <a
          href="https://docs.google.com/spreadsheets/d/1yQ7B87F4RaNMizBm23wLQnXxpN7skyMCqlQ0JwBEHic/copy"
          target="_blank">planilha</a> (você precisará logar com sua conta Google)</li>
      <li>&#8226; Edite os campos de <b>título</b> e <b>histórias</b>. Sempre que quiser que o jogador preencha uma
        palavra na sua história, basta colocá-la entre colchetes []. Indique dentro do colchetes o que essa palavra
        precisa ser, por exemplo: [verbo], [substantivo], [adjetivo], etc.</li>
      <li>&#8226; Não altere as células azuis!</li>
    </ul>

    <h4>Passo 2 - Publique sua planilha</h4>
    <ul>
      <li>Vá em Arquivo > Publicar na Web e clique em Publicar.</li>
    </ul>

    <h4>Passo 3 - O link do seu jogo</h4>
    <ul>
      <li>&#8226; Vá na aba <b>Link do Jogo</b> da planilha.</li>
      <li>&#8226; Clique no link para ver seu jogo funcionando.</li>
    </ul>

    <h4>Passo 4 - Salve e compartilhe!</h4>
    <ul>
      <li>&#8226; Salve o seu link nos favoritos (usando CTRL + D) ou clicando na estrela.</li>
      <li>&#8226; Compartilhe o link do seu jogo com seus amigos e/ou alunos para jogar!</li>
    </ul>
  </div>

</body>

</html>