<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mad Libs</title>
  <link rel="stylesheet" href="/tools/madlibs/madlibs.min.css" />
</head>

<body>
  <h1>Madlibs</h1>
  <p id="instrucoes"><b>Instruções:</b> Este é um jogo de substituição de palavras inventado nos anos 50. Após a criação
    de uma lista de palavras, ela é inserida em uma história já escrita. Como não se sabe de antemão como a história é,
    o resultado é uma história maluca e hilariante, que diverte e rende ótimas risadas!</p>
  <br />

  <div class="divider" style="margin-bottom:40px;"></div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#dados">Configuração</a></li>
        <li id="tab_jogar" class="tab col s6 disabled"><a href="#jogar">Jogo</a></li>
      </ul>
    </div>
    <div id="dados" class="col s12">
      <!-- configuração do jogo -->
      <h3>Configurações do jogo</h3>
      <p>Use os campos abaixo para configurar o seu jogo.</p>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <label for="config_titulo">Título</label>
              <input id="config_titulo" type="text" class="validate">
            </div>
            <div class="input-field col s12">
              <label for="config_historia">Conteúdo do jogo</label>
              <textarea id="config_historia" class="materialize-textarea"></textarea>
            </div>
          </div>
        </form>
      </div>

      <a id="btn_jogar" class="waves-effect waves-light btn-large">Jogar!</a>

    </div>
    <div id="jogar" class="col s12">

      <!-- conteúdo do jogo -->
      <div id="data">
        <div id="titles"></div>
        <div id="placeholders"></div>
        <div id="history"></div>
      </div>

    </div>
  </div>

  <!-- botão para salvar -->
  <div class="fixed-action-btn tooltipped" data-position="left" data-tooltip="Salvar jogo">
    <a href="madlibs/instrucoes" target="_blank" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-save"></i></a>
  </div>

  <!-- scripts -->
  <script>window.educatools = {}</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/educaToolsUtils-min.js"></script>
  <script src="/js/googleSpreadsheetsUtils-min.js"></script>
  <script src="/tools/madlibs/madlibs-min.js"></script>

</body>

</html>