<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Seja bem-vindo(a)!</li>
  </ol>
</nav>

<main>
  <section class="py-2 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto container_box">
        <p>Seja bem-vindo(a)!</p>
          <li class="btn-menu btn btn-primary btn-sm my-2 filter-button">
            <i class="fas fa-toolbox"></i> <a href="/ferramentas/add">Sugerir ferramenta</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>