<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>

<h1>Dashboard</h1>
<p>Seja bem-vindo(a)!</p>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <i class="fas fa-toolbox"></i> <a href="/ferramentas/add">Página de ferramentas</a>
  </li>
</ul>