<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>

{{!-- <h1>Dashboard</h1> --}}

<main>
    <section class="py-2 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto container_box">
          <p>Seja bem-vindo(a)!</p>
          <ul class="list-group list-group-flush lista-menu">
            <li class="btn-menu btn btn-primary btn-sm my-2 filter-button">
              <i class="fas fa-users"></i> <a href="/usuarios">Página de usuários</a>
            </li>
            <li class="btn-menu btn btn-primary btn-sm my-2 filter-button">
              <i class="fas fa-toolbox"></i> <a href="/ferramentas">Página de ferramentas</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
</main>


