<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>

<h1>Dashboard</h1>
<p>Seja bem-vindo(a)!</p>

<div class="container-fluid">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <i class="fas fa-exclamation-circle"></i> <a href="/avisos">Avisos</a>
    </li>
    <li class="list-group-item">
      <i class="fas fa-chart-pie"></i> <a href="/estatisticas">Estatísticas</a>
    </li>
    <li class="list-group-item">
      <i class="fas fa-star"></i> <a href="/favoritos">Favoritos</a>
    </li>
    <li class="list-group-item">
      <i class="fas fa-toolbox"></i> <a href="/ferramentas">Ferramentas</a>
    </li>
    <li class="list-group-item">
      <i class="fas fa-object-group"></i> <a href="/grupos">Grupos de ferramentas</a>
    </li>
    <li class="list-group-item">
      <i class="fas fa-users"></i> <a href="/usuarios">Usuários</a>
    </li>
    <li class="list-group-item">
      <i class="fas fa-user-edit"></i> <a href="/perfil/escolha">Editar perfil</a>
    </li>
  </ul>
</div>