<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/usuarios">Usuários</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar usuário</li>
  </ol>
</nav>

<h1>Usuários</h1>
<p>Altere os dados do usuário conforme necessário.</p>

<main>
    <section class="container-fluid">
        <div class="col-lg-6 col-md-8 mx-auto container_box">
          <form id="formulario-usuario" action="/usuarios/{{usuario._id}}" method="POST">

            <!-- esconde o método http - method override -->
            <input type="hidden" name="_method" value="PUT">

            <!-- Nome -->
            <div class="form-group" style="margin-bottom: 20px;">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nome-help" placeholder="nome" value="{{usuario.nome}}" required>
              <small id="nome-help" class="form-text text-muted">Nome completo</small>
            </div>

            <!-- E-mail -->
            <div class="form-group" style="margin-bottom: 20px;">
              <label for="email">E-mail</label>
              <input type="text" class="form-control" id="email" name="email" aria-describedby="email-help" placeholder="email" value="{{usuario.email}}" required>
              <small id="email-help" class="form-text text-muted">E-mail</small>
            </div>

            <!-- Tipo -->
            <div class="form-group" style="margin-bottom: 20px;">
              <label for="tipo">Tipo de usuário</label>
              <select id="tipo" class="form-select" name="tipo" aria-describedby="tipo-help" required>
                {{#select usuario.tipo}}
                    <option value="usuario">usuário</option>
                    <option value="admin">admin</option>
                {{/select}}
              </select>
              <small id="tipo-help" class="form-text text-muted">Tipo de usuário</small>
            </div>
            <!-- Senha -->
            {{!-- <div class="form-group" style="margin-bottom: 20px;">
              <label for="senha">Senha</label>
              <input type="password" class="form-control" id="senha" name="senha" value="{{usuario.senha}}"  aria-describedby="senha-help" placeholder="senha">
              <small id="senha-help" class="form-text text-muted">Senha</small>
            </div> --}}
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
    </section>
</main>