<h1>Ops, deu ruim!</h1>
<p>Parece que o que você estava tentando fazer não funcionou :(</p>
<blockquote style="border: 1px solid red">{{err}}</blockquote>
<br />
<a href="/" class="btn">Voltar para o Educatools</a>